:root {
    --main-bg-color:  #183940;
    --main-bg2-color: #0e1d20;
    --border: 2px solid #7CA68B;
    --color2: #C4EEF2;
    --color3: #7CA68B; ;
    --boxShadow: 5px 5px 5px rgba(124, 166, 139, 0.1);
}
.menu-cards {
    margin-top: 5%;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Para garantir que a barra de navegação esteja acima de outros elementos */
}
body{
    background-color: var(--main-bg-color)
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-name {
    font-size: 18px;
    font-weight: bold;
    color: var(--color2);
}

.profile {
    border: var(--border);
    box-shadow: var(--boxShadow);
    border-radius: 8px;
}

.card-container{
    /* */
    display: flex; /* deixa todos os items lado a lado*/
    justify-content: space-between; /* faz que todos os itens ocupam o mesmo espaco */
}
.card-container {
    color: var(--color2);
    flex: 1; /* Cada div vai ocupar uma proporção igual do espaço disponível */
    margin: 0 10px;
    padding: 10px;
    border: var(--border);
    background-color: var(--main-bg-color);
    box-shadow: var(--boxShadow);
    text-align: center;
}
.card-container .new-card-btn {
    max-width: 300px;
    max-height: 300px;
    border: var(--border);
    color: var(--main-bg-color);
}
.task-created,
.task-doing,
.task-completed {
    border: var(--border);
    box-shadow: var(--boxShadow);
    border-radius: 8px;
    flex: 1;
    padding: 10px;
    text-align: center;
    margin: 0 10px;
}

.task-created, .task-completed, .task-doing  {
    background-color: var(--main-bg2-color);
}

















.card #more {
    float: left;
    color:  var(--main-bg2-color);
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
    border-color: var(--color3);
    
}
.card #more-open {
    background-color: yellow;
    width: 250px;
    height: 250px;
    position: fixed;
    float: left;
    color: var(--main-bg2-color);
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
    border-color: var(--color3);
    max-height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: column; /* Altera a d
}

.card #more-open div {
    margin: 5px 0; /* Adicione margens entre os elementos para separá-los verticalmente */
    white-space: nowrap; /* Evitar que os elementos quebrem em várias linhas */
}











.card .head-card {
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.card h4 {
    margin-left: 1%;
}
.card .edit-card , .save-card{
    color: var(--main-bg2-color);
    background-color: wheat;
    border: var(--border);
    border-radius: 8px;
    margin-bottom: 3px;
    max-height: 30px;
    margin-right: 2%;
 }
.card .delete-card {
    color: red;
    background-color: wheat;
    border: var(--border);
    border-color: red;
    border-radius: 5px;
    max-height: 30px;
    margin: 5px;
}
.card .desc {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card .date-created-task{
    font-size: 10px;
}

.card {
    color: var(--main-bg-color);
    background-color: var(--color2);
    border: var(--border);
    box-shadow: var(--boxShadow);
    border-radius: 8px;
    max-width: 450px;
    margin-left: 8%;
    margin-bottom: 10px;
}


.card .desc {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card .date-created-task{
    font-size: 10px;
}


