:root {
    --main-bg-color:  #041220;
    --main-bg2-color: #163A59;
    --border: 2px solid #CEFAFE;
    --titles1: #CEFAFE;
    --text1: #CAF4F9;
    --btn-color: #173859;
    --boxShadow: 5px 5px 5px rgba(124, 166, 139, 0.1);
    --dangerColor: rgb(255, 30, 0);
}

.menu-cards {
    margin-top: 5%;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Para garantir que a barra de navegação esteja acima de outros elementos */
}
body{
    background-color: var(--main-bg-color)
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainLogin {
    margin: 5% auto;
    width: 720px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-login {
    width: 40%;
    height: 40%;
    max-height: 100%;
    background-color: var(--main-bg2-color);
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-login img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Isto garante que a imagem se ajuste dentro da div mantendo sua proporção */
}

.register-form h2 {
    text-align: center;
}
.formLogin {
    width: 60%;
    height: 100%;
    background-color: var(--main-bg2-color);
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
}
.cadastro-form {
    text-align: center;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid;
    border-radius: 8px;
}

button {
    text-align: center;
    padding: 10px 20px;
    background-color: var(--btn-color);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
    border: 1px solid;
}
.button-container {
    margin-top: 10px;
    text-align: center;
}
button:hover {
    background-color: #1a3c4f;
}
button:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}